.box {
    width: 200px;
    height: 200px;
    background-color: tomato;
    display: inline-block;
    font-size: 3rem;
    text-align: center;
}

.box:first-child {
    float: left;
}

.box:last-child {
    float: right;
}

.box:nth-child(2) {
    margin: 0 calc((100% - 600px)/2) 0 calc((100% - 600px)/2);
}